@model BattleshipMVC.Models.Battleship

@{
    var game = Session["gameSession"] as BattleshipMVC.Models.Battleship;
    
}
<div class="row-fluid">
    <p class="text-center">Turn: @game.turnCounter</p>
    <div class="col-lg-6">
        <h2>Make your moves here.</h2>
        @using (Ajax.BeginForm("Target", new AjaxOptions { UpdateTargetId = "myGame" }))
        { 
            <table>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        @for (int j = 0; j < 10; j++)
                        {

                            if (game.player.board.upScreen.screen[i, j].content == "#")
                            {
                            <td>
                                <button name="target" type="submit" class="blue" id="button" value="@(i.ToString() + " " + j.ToString())" />
                            </td>
                            }
                            else if (game.player.board.upScreen.screen[i, j].content == "H")
                            {
                            <td>
                                <button name="target" type="submit" class="red" disabled value="@(i.ToString() + " " + j.ToString())" />
                            </td>
                            }
                            else if (game.player.board.upScreen.screen[i, j].content == "M")
                            {
                            <td>
                                <button name="target" type="submit" class="white" disabled value="@(i.ToString() + " " + j.ToString())" />
                            </td>
                            }
                            else
                            {
                            <td>
                                <button name="target" type="submit" class="blue" value="@(i.ToString() + " " + j.ToString())" />
                            </td>                               
                            }
                        }
                    </tr>
                }
            </table>
        }
        <h4>
            <p>Your opponent's ships:</p>
        </h4>
            <ul class="list">
                @foreach (BattleshipMVC.Models.Ship ship in game.computer.board.lowScreen.Ships)
                {
                    bool isDead = false;
                    foreach (BattleshipMVC.Models.Ship deadShip in game.computer.board.lowScreen.getListofDeadShips())
                    {
                        if (ship.type == deadShip.type)
                        {
                            isDead = true;
                            break;
                        }
                    }
                    if (isDead)
                    {
                    <li class="red ship-list dead">@ship.name @ship.length</li>
                    }
                    else
                    {
                    <li class="ship-list">@ship.name @ship.length</li> 
                    }
                }
            </ul>
    </div>

        <div class="col-lg-6">
            <h2>Your status:</h2>
            @using (Html.BeginForm())
            { 

                <table>
                    @for (int i = 0; i < 10; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 10; j++)
                            {
                                if (game.player.board.lowScreen.screen[i, j].content == "c")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="purple" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "b")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="orange" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "s")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="green" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "d")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="black" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "o")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="grey" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "H")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="red" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "M")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="white" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                                else if (game.player.board.lowScreen.screen[i, j].content == "#")
                                {
                                <td>
                                    <button name="target" type="submit" disabled class="blue" value="@(i.ToString() + " " + j.ToString())"></button>
                                </td>
                                }
                            }
                        </tr>
                    }
                </table>
            }
                <h4>
                    <p>Your ships:</p>
                </h4>
                <ul class="list">
                    @foreach (BattleshipMVC.Models.Ship ship in game.player.board.lowScreen.Ships)
                    {
                        bool isDead = false;
                        foreach (BattleshipMVC.Models.Ship deadShip in game.player.board.lowScreen.getListofDeadShips())
                        {
                            if (ship.type == deadShip.type)
                            {
                                isDead = true;
                                break;
                            }
                        }
                        if (isDead)
                        {
                        <li class="red ship-list center-text dead">@ship.name @ship.length</li>
                        }
                        else
                        {
                        <li class="ship-list center-text">@ship.name @ship.length</li> 
                        }
                    }
                </ul>
            </div>
    </div>
</div>
